@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body { color: #0f172a; }
  header, section:not(:first-of-type), footer, .mini-bar { display: none !important; }
  main { padding: 0 !important; }
}
